option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_NAME: 'VEGA x Telegram'
    VEGA_USERS_BASE_URL: 'http://user-r-servi-xuvkgjuxiil3-ecd17f2b5281495d.elb.ap-southeast-1.amazonaws.com'
    APP_ENV: development
    NODE_ENV: development
    TELEGRAM_API_ID: 26110734
    TELEGRAM_API_HASH: 9e4b0f51226a26ad3f88dc5b8a2e1402
    BASE_URL: 'https://web.telegram.org/a/'
