.root {
  display: flex !important;
  align-items: center;
  gap: 0.25rem;

  :global(.custom-emoji) {
    color: var(--color-primary);
  }

  :global(.statusSparkles) {
    color: var(--accent-color);
    :global(.selected) & {
      color: white;
    }
  }
}

.fullName {
  font-size: 1em;
  margin-bottom: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &.canCopy {
    pointer-events: all;
  }
}

.transition {
  width: 1.5rem;
}

.chatnameLoader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: load 1s infinite linear alternate;

  @keyframes load {
    0%  {box-shadow: 20px 0 #fff, -20px 0 #fffffd7c;background: #fff }
    33% {box-shadow: 20px 0 #fff, -20px 0 #fffffd7c;background: #fffffd7c}
    66% {box-shadow: 20px 0 #fffffd7c,-20px 0 #fff; background: #fffffd7c}
    100%{box-shadow: 20px 0 #fffffd7c,-20px 0 #fff; background: #fff }
  }
}
